<html>
    <body style="background-color: #f3f2f0;">
        <table style="background-color: white; max-width: 800px; margin: auto;">
            <tbody>
                <tr>
                    <td style="text-align: center;"><img style="max-height: 140px;" src="https://haciendola.com/cdn/shop/files/haciendola-footer-logo.png?v=1708362446&width=760" alt="haciendola-logo"></td>
                </tr>
                <tr>
                    <td style="text-align: center;"><h1>Hola {{userName}},</h1></td>
                </tr>
                <tr>
                    <td style="text-align: center;">
                        <p>
                            Parece que has olvidado tu contraseña de {{companyName}}]. No te preocupes, ¡pasa! Para restablecerla, solo tienes que hacer clic en el
                            siguiente enlace:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: center;"><a href="{{url}}" >{{url}}</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
